html, body {
  overflow: hidden;
  margin: 0%;
  min-height: 100vh;
}

canvas{
margin: 0%;
}

p {
  font-family: Helvetica;
}

h1 {
  font-family: Helvetica, sans-serif;
}

li
{
  font-family: Helvetica, sans-serif;
}

#main-header{
  position:absolute;
  color: #00ff1e;
  text-align: center;
  font-size: 150px;
  width: 100%;
}



#navbar{
  position:absolute;
}




 
  
  /*font-size: 150px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
}

  /* border: 0px solid green;
  padding: 0px;
  margin: 0px; /*
}